<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- Redraws the NextPrayer home-screen widget when the prayer it shows begins (PrayerWidget.kt). -->
    <receiver android:name="com.almanara.background.WidgetRefreshReceiver" android:exported="false" />
  </application>
</manifest>
